<h1>Sign Up</h1>
  <%= form_with model: @user do |f| %>
    <%= f.label :username, "Username" %>
    <%= f.text_field :username, placeholder: "max_mustermann" %>

    <%= f.label :email, "Email Address" %>
    <%= f.text_field :email, placeholder: "example@example.com" %>

    <%= f.label :password, "Password" %>
    <%= f.password_field :password, placeholder: "Choose a secure password" %>

    <%= f.submit "Create User" %>
  <% end %>